numpy>=2.3.1
torch>=2.7.1
pillow>=11.2.1
h5py>=3.14.0
tqdm>=4.67.1
pytorch-lightning>=2.5.2
ultralytics>=8.3.164
torchvision>=0.22.1
timm>=1.0.15
hydra-core>=1.3.2
omegaconf>=2.3.0
litdetect>=0.1.0
matplotlib>=3.10.3
torchmetrics>=1.7.3
pandas>=2.3.0
openpyxl>=3.1.5
tabulate>=0.9.0
colorama>=0.4.6
simpleitk>=2.5.2
scipy>=1.16.0
scikit-image>=0.25.2
onnx>=1.18.0
onnxsim>=0.4.36
onnxruntime>=1.22.1
opencv-python>=4.11.0.86